//-----------COLOR STYLES------------//

// App colors:
$Spring-chick: #FCFC97;
$Mint: #BEEED6;
$Kelly-green: #03B635;
$Pale-pink: #F5EEDB;
$Beigish: #ECDFBC;
$Peach-pink: #FFA9A4;
$Fresh-red: #F6452E;

// Blue scale colors:
$Persian-blue: #2F42D9;
$Persian-80: #5968E1;
$Persian-60: #828EE8;
$Persian-40: #ACBFF0;
$Persian-baby: #d5e7f7;
$Baby-blue: #F5F8FF;

// Grey scale:
$Grey-200: #060608;
$Grey-160: #15171B;
$Grey-130: #3B3E45;
$Grey-100: #767A83;
$Grey-80: #9FA4AC;
$Grey-70: #B2B6BE;
$Grey-50: #CFD3DA;
$Grey-30: #E3E6EC;
$Grey-0: #F0F2F7;
$White: #ffffff;

//-----------SPACING STYLES------------//

$S-size: 0.5rem;
$M-size: 1.6rem;
$L-size: 3.2rem;
$XL-size: 4.8rem;
$desktop-breakpoint: 45rem;




